<!doctype html>
<html ng-app="demo">
  <head>
    <meta charset="utf-8">
    <title>Ng Middle Click - Angular Directive</title>

    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.css">
    <style>
      section{
        max-width: 600px;
        padding: 10px 20px;
        margin: 0 auto;
      }
    </style>
  </head>
  <body>
    <section class="text-center" ng-controller="Main">
      <h1 class="text-muted">ng-middle-click <br>(demo)</h1>
      <br>
      <p>
        Click on the button below <strong>with the middle button (mouse wheel)</strong>.<br>
        It'll open Google passing your search as a parameter.
      </p>
      <br>
      <p>
        <input type="text" class="form-control" placeholder="Write your search here..." ng-model="searchQuery">
      </p>
      <p>
        <a class="btn btn-primary" data-href="http://google.com" ng-click="onClick($event)" ng-middle-click ng-disabled="!searchQuery">Google it!</a>
      </p>
    </section>

    <!-- inject:js -->
    <script src="app.js"></script>
    <!-- endinject -->
  </body>
</html>
